{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "loose": true,
        "modules": "commonjs",
        "targets": {
          "node": "8",
        },
        "debug": true,
      }
    ]
  ],
  "plugins": ["closure-elimination"]
}
