{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "loose": true,
        "modules": "commonjs",
        "targets": {
          "node": "6"
        },
        "debug": true
      }
    ]
  ],
  "plugins": [
    "closure-elimination",
    "module:faster.js",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-export-default-from"
  ]
}
